doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title HTML File AngularJS
    script(src='js/angular_1.5.5.min.js')
    script(type='text/javascript', src='js/angular-ui-router.min.js')
    link(rel='stylesheet', href='stylesheets/bootswatch.css')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/appAngular.js')
  body(ng-app='taskApp')
    .container.col-md-6.col-md-offset-3
      .panel.panel-primary
        .panel-heading
          h2
            i.glyphicon.glyphicon-tasks
            |                 Gestor de Tareas
        .panel-body
          ui-view
        .panel-footer Panel Footer